<div class="footer">
  <div class="container">
    <div class="row-2">
      <div class="footer-col-1">
        <h1>Jersey Shop</h1>
        <p>We deliver the best.</p>
      </div>
      <div class="footer-col-2">
        <h3>Follow us</h3>
        <a class="media-icons" href="https://www.facebook.com/jerseykst"><i class="fab fa-facebook-f"></i></a>
        <a class="media-icons" href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="footer-col-3">
        <h3>Contact us</h3>
        <h4><i class="fa fa-phone"></i>+8801747-834180</h4>
        <h4><i class="fa fa-envelope"></i>jerseyshop@gmail.com</h4>
        <a class="fb" href="https://www.facebook.com/jerseykst"><i class="fab fa-facebook-f"></i>Jersey Shop</a>
        <h4><i class="fa fa-map-marker"></i>T-36, Nurjahan Road, Mohammadpur, Dhaka, Dhaka Division, Bangladesh</h4>
      </div>
    </div>
    <hr>
    <p class="copyright">Copyright 2021 - Ahmed Riyal</p>
  </div>
</div>